@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-bg-primary text-text-primary font-sans text-body;
}

* {
  @apply box-border;
}

a {
  @apply text-text-primary;
}
